/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0ff007;
    color: #0ff007;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
}

button.sugerencias-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #bb167c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background-color 0.3s ease;
}

button.sugerencias-btn:hover {
    background-color: #0056b3;
}

/* Estilos Responsivos */
@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        flex: 1 0 45%;
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    nav a {
        flex: 1 0 45%;
        margin: 5px;
    }

    button.sugerencias-btn {
        margin: 10px auto;
    }
}

