/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilos para el encabezado */
header {
    background-color: a9fb52; /* un color de prueba*/
    color: white;
    width: 100%;
    text-align: center;
}
/* Estilos para la imagen del título */
header img {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Ajusta la altura de la imagen automáticamente para mantener la proporción */
}

nav {
    text-align: end;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
}

button.sugerencias-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #bb167c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    transition: background-color 0.3s ease;
}

button.sugerencias-btn:hover {
    background-color: #0056b3;
}

/* Estilos Responsivos */
@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    img {
        max-width: 55%; /* Establece el ancho máximo al 70% del contenedor en pantallas pequeñas */
      }
    
    nav a {
        flex: 1 0 45%;
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 14px;
    }
    img {
        max-width: 35%; /* Establece el ancho máximo al 35% del contenedor en pantallas pequeñas */
      }
    
    nav a {
        flex: 1 0 25%;
        margin: 5px;
    }

    button.sugerencias-btn {
        margin: 10px auto;
    }
}


